html {
    overflow-x: hidden;
    box-sizing: border-box;
}

body {
    margin: 0%;
    padding: 40px 80px;
    font-family: 'Space Mono';
    height: 100%;
}

:focus {
    outline: 0;
}

.not-found {
    font-family: Inconsolata;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
}

.content-wrapper {
    position: absolute;
    top: 25%;
    left: 15%;
    right: 15%;
    display: flex;
}

@media only screen and (max-width: 600px) {
    body {
        padding: 20px 30px;
        width: 100%;
    }
    .not-found {
        font-size: 20px;
    }
    .content-wrapper {
        flex-direction: column;
        top: 18%;
        left: 12%;
        right: 12%;
    }
    img {
        max-width: 100%;
        margin-left: 13%;
    }
}

img {
    max-width: 80%;
    height: auto;
}

.content {
    width: 90%;
}

.heading {
    font-weight: bold;
    font-size: 45px;
    margin-bottom: 20px;
    line-height: 60px;
}

.description {
    margin-bottom: 50px;
    font-size: 17px;
    width: 75%;
}

button {
    border: none;
    background-color: #333333;
    color: #FFFFFF;
    height: 50px;
    width: 175px;
    font-weight: 700;
    font-size: 12px;
    border-radius: 2px;
    cursor: pointer;
}

.footer {
    position: absolute;
    bottom: 20px;
    left: 42%;
    color: #BDBDBD;
}