html {
    box-sizing: border-box;
}

body {
    margin: 0%;
    font-family: 'Space Mono';
}

*, ::after, ::before {
    box-sizing: inherit;
}

.page-wrapper {
    margin: 40px 80px;
}

.not-found {
    font-family: Inconsolata;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 25px;
    letter-spacing: -0.08em;
    text-transform: uppercase;
    position: fixed;
}

.content-wrapper {
    position: absolute;
    top: 23%;
    left: 15%;
    right: 15%;
    display: flex;
}

.content {
    width: 90%;
}

.heading {
    font-weight: bold;
    font-size: 46px;
    margin-bottom: 20px;
}

.description {
    margin-bottom: 50px;
    font-size: 22px;
    width: 80%;
}

button {
    border: none;
    background-color: #333333;
    color: #FFFFFF;
    height: 50px;
    width: 175px;
    font-weight: 700;
    font-size: 12px;
}