html {
    height: 100vh;
}

html, body {
    overflow-x: hidden;
    box-sizing: border-box;
}

body {
    margin: 0%;
    padding: 40px 80px 10px 80px;
    font-family: 'Space Mono';
    height: 100%;
}

:focus {
    outline: 0;
}

.not-found {
    font-family: Inconsolata;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
}

.content-wrapper {
    display: flex;
    height: calc(100% - 50px);
    justify-content: center;
    align-items: center;
    padding: 0px 110px;
}

img {
    max-width: 80%;
    height: auto;
}

.content {
    width: 90%;
}

.heading {
    font-weight: bold;
    font-size: 45px;
    margin-bottom: 20px;
    line-height: 60px;
}

.description {
    margin-bottom: 50px;
    font-size: 17px;
    width: 75%;
}

button {
    border: none;
    background-color: #333333;
    color: #FFFFFF;
    height: 50px;
    width: 175px;
    font-weight: 700;
    font-size: 12px;
    border-radius: 2px;
    cursor: pointer;
}

.footer {
    color: #BDBDBD;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    body {
        padding: 10px 10px 5px 10px;
    }
    .not-found {
        font-size: 18px;
    }
    .content-wrapper {
        flex-direction: column;
        padding: 15px 10px 0px;
        height: calc(100% - 50px);
    }
    .scarecrow {
        padding-left: 15%;
    }
    .content {
        padding: 5px 0px 0px 35px;
    }
    .heading {
        font-size: 35px;
    }
    .description {
        font-size: 15px;
        width: 90%;
        margin-bottom: 30px;
    }
    .footer {
        font-size: 10px;
    }
}